*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


    
    #forbody{
        /* border: 2px solid tomato; */
        background-color: black;
        width: 92%;
        margin-left: 8%;
        height: 100%;
        /* position: absolute;
        top: 0px;
        left: 0px; */
    }

#fornav{
    /* border: 2px solid green !important; */
    background-color: rgba(0, 0, 0, 0.781) !important;
    /* background-color: #616161 !important; */
    /* background-color: #222 !important; */
    width: 8%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;

}
#pg2{
    border: 2px solid maroon;
    background-color: rgb(121, 121, 50);
    width: 90%;
    margin-left: 10%;
    height: 100vh;
    /* position: absolute;
    top: 0px;
    left: 0px; */
}

#packfor2{
    display: flex;
}

.icon{
    position:fixed;
    
}
.icons{

    width: 25px;
    height: 25px;
    /* color: honeydew; */
    color: white;
}

.sidebaritem{
    display: flex;
    flex-direction: column;
    /* margin-top: 17px; */
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

a{
    text-decoration: none;
    /* color: lavender; */
    color: white;
}

#navimg{
    /* width:90%; */
    /* height:100px;  */
    width: 100%;
}

svg{
    height: 35px;
    width: 35px;
    color: #fff;
}

#test1{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.test1{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

p,h1,h2,h3{
    padding: 30px;
    /* margin: 5px; */
    color: lavender;
    text-align: center;
}

#homeWrapper{
    display: flex;
    /* width: 100%; */
}

header h1{
    color: white;
    font-family: 'Goblin One', cursive;
    font-size: 52px;
    text-align: right;margin-bottom: 100px;
}

/* header{
     width: 100%; 
} */

#part1{
     margin:100px auto;
}


.part1{
    padding: 3px;
    text-align: justify;
    height: auto;
}


.list11{
    height: 221px;
    width: 34%;
    /* border: 2px solid black; */
    margin: 0px 20px 0px auto;
    opacity: 0.6;
}

.list11:hover {
    opacity: 1000;
}

.list12{
    height: 221px;
    width: 34%;
    /* border: 2px solid black; */
    margin: 0px auto 0px 20px;
    opacity: 0.6;
}

.list12:hover{
    opacity: 1000;
}

.list2{
    list-style-type: none;
    text-align: center;
    /* background-color: rgb(100, 124, 100); */
    background-color: #757575;
    padding: 50px 4px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white ;
}

.list3{
    list-style-type: none;
    text-align: center;
    /* background-color: rgb(109, 103, 134); */
    /* background-color: rgba(0, 0, 0, 0.37) !Important; */
    /* background-color: #ddd; */
    background-color: white;
    color:black;
    padding: 40px 70px;
    border-bottom:1px solid #757575;
}

#part3{
    /* height: 100vh;
    width: 100%; */
    width: 100%;
        /* margin-left: 8%; */
        height: 100%;
        overflow: hidden;
}

#part3 video{
    /* margin: 200px;
    width: 80%; */
    width: 100%;
    height: 100%;
}

video{
    object-fit: contain;
    z-index: -99;
}

#jhola{
    position: relative;
}

#overlay{
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.397);
    /* background-color: rgba(0, 0, 0, 0); */
    padding: 50px 20px;
    /* border: 2px solid greenyellow; */
}

#overlay h2,#overlay h3 , #overlay p{
    text-shadow: 0px 0px 10px rgb(100, 124, 100);
    text-shadow: 0px 0px 5px black;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    font-size: 2rem;
    margin: 20px;
}

#part2{
    /* height:100vh; */
    padding:120px 120px;
}

#wrap1{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid yellow; */
    width: inherit;
}

.wrap1 h3{
    background-color: rgba(0, 0, 0, 0.651);
}

#skill{
    height: 80vh;
    /* height: 100%; */
    width: 90%;
    /* border: 2px solid orange; */
    position: relative;
    /* padding-left: 500px; */
    margin-left: 50px;
}

.skill svg{
    /* font-size: 500px;
    size: 2px; */
    height: 100px;
    width: 100px;
    /* position: absolute;
    top: 0;
    left: 0; */
    /* background-color: lawngreen; */
    color: #757575;

}

.skill svg:hover{
    /* color: aqua; */
    color: white;
}


#wrap2{
    display:flex;
    width: 100%;
    padding: 50px 20px;
}

button{
    width: 100%;
    padding: 5px 20px;
    margin:2px 10px;
    height: 50px;
    /* border-radius: 10px; */
    font-weight: bolder;
    font-size: 1rem;
}

button:hover{
    opacity: 0.8;
}

input{
    width: 50%;
    padding: 5px 20px;
    margin:2px 10px;
}

.rightBar{
    position: fixed;
    /* top:200px;
    right:20px; */
    
	top:50%;
	right:0px;
	transform:translateY(-50%);
    z-index: 999;
}

.rightBar a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#222;
	border:1px solid #222;
	/* box-shadow:2px 2px 12px rgba(0,0,0,0.2); */
}
.rightBar a:hover{
	background-color:#000000;
	transition:all ease 0.5s;
}
.rightBar i{
	font-size:20px;
	color:white;
} 

.sidebaritem a:hover{
	background-color:#000000;
	transition:all ease 0.5s;
}

.sidebaritem a{
    padding-top: 17px;
    width: 100%;
}

#diff{
    background-color: black;
}

#diff:hover{
    background-color: #c1c1c1;
    
}

#diff:hover .diff1{
    color: black;
}

#diff:hover svg{
    color: black;
}

html{
    scroll-behavior: smooth;
}

#formItem:hover{
    opacity: 0.7;
}